@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

/* wrap */
#wrap {
    width: 1000px;
    display: flex;
    position: relative;
}
/* aside */
#aside {
    width: 200px;
}
#aside .logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aside .nav {
    width: 100%;
    height: 550px;
    background-color: #fff;
}
#aside .nav > ul > li a {
    display: inline-block;
    background-color: #ffc62b;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
#aside .nav > ul > li a:hover {
    background-color: #f2ce6c;
}
#aside .nav > ul > li > ul {
    display: none;
}
#aside .nav > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    background-color: #fbe34b;
    text-align: center;
}
#aside .nav > ul > li > ul > li > a:hover {
    background-color: #f8ea93;
}

/* main */
#main {
    width: 800px;
    height: 650px;
}

/* slider */
#slider {
    width: 100%;
    height: 350px;
}
#slider .sliderWrap .slider {
    position: relative;
}
#slider .sliderWrap .slider {    
    position: absolute;    
}
#slider .sliderWrap .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.4);
}
#slider .sliderWrap .text h2 {
    font-size: 30px;
    color: #fff;
}

/* contents */
#contents {
    width: 100%;
    display: flex;
}

/* contents : info */
#contents .info {
    width: 300px;
    height: 200px;
    background-color: #fccd4b;
    padding: 10px;
    box-sizing: border-box;
}
#contents .info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#contents .info .info-menu a.active {
    text-decoration: underline;
}
#contents .info .info-menu a::after {
    content: '|';
    margin-left: 10px;
}
#contents .info .info-menu a:last-child::after {
    content: '';
}
#contents .info .info-cont .notice {
    display: none;
}
#contents .info .info-cont .notice ul li {
    display: flex;
}
#contents .info .info-cont .notice ul li a {
    width: 70%;
    line-height: 1.6;
}
#contents .info .info-cont .notice ul li a:hover {
    text-decoration: underline;
}
#contents .info .info-cont .notice ul li span {
    width: 30%;
    text-align: right;
    line-height: 1.6;
}
#contents .info .info-cont .gallery {
    /* display: none; */
    padding: 10px;
    box-sizing: border-box;
}
#contents .info .info-cont .gallery ul {
    display: flex;
    justify-content: space-between;
}
#contents .info .info-cont .gallery li {
    margin-top: 5px;
}
#contents .info .info-cont .gallery li a {
    border: 4px solid transparent;
    display: block;
}
#contents .info .info-cont .gallery li a:hover {
    background-color: #b0840a;
}

/* contents : banner */
#contents .banner {
    width: 250px;
    height: 200px;
    background-image: url(../images/banner.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#contents .banner h3 {
    font-size: 24px;
    margin-top: 40px;
    color: #ffc62b;
}
#contents .banner a {
    padding: 14px 20px;
    background-color: #fccd4b;
    border-radius: 40px;
    margin-top: 20px;
}
#contents .banner a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* contents : link */
#contents .link {
    width: 250px;
    height: 200px;
    background-image: url(../images/link.jpg);
    position: relative;
}
#contents .link h3 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
#contents .link a {
   position: absolute;
   left: 50%;
   right: 50%;
   transform: translateX(-50%);
   bottom: 20px;
   width: 100px;
   height: 100px;
   background-color: #fccd4b;
   border-radius: 50%;
   line-height: 100px;
   text-align: center;
}
#contents .link a:hover {
    background-color: #fee9b0;
}

/* footer */
#footer {
    width: 100%;  
    display: flex;
    background-color: #efefef;
}
#footer .footer1 {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .footer1 a {
    display: block;
    width: 80%;
    margin: 0 auto;
}
#footer .footer2 {
    width: 80%;
    height: 100px;
}
#footer .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
}
#footer .footer2 .footer2-1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2 .footer2-1 li {
    display: inline-block;
    padding: 10px 20px;
}
#footer .footer2 .footer2-1 ul li::after {
    content: '|';
    margin-left: 20px;
}
#footer .footer2 .footer2-1 ul li:last-child::after {
    content: '';
}
#footer .footer2-2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* popup */
.popup-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #f8ea93;
    padding: 2%;
    border: 4px solid #ffc62b;
}
.popup-view h2 {
    font-size: 26px;
    border-bottom: 2px solid #ffc62b;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.popup-view a {
    padding: 10px 20px;
    background-color: #fccd4b;
    bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}