@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

/* wrap */
#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/* aside */
#aside {
    width: 200px;
    height: 850px;
    background-color: #0f9c1b;
   
}
#aside .logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aside .nav {
    width: 100%;
    height: 750px;
}
#aside .nav > ul {
    margin: 10px;
}
#aside .nav > ul > li > a {
    display: block;
    padding: 10px 40px;
    font-size: 20px;
    text-align: center;
    background-color: #0a5b10;
    color: #fff;
}
#aside .nav > ul > li > a:hover {
    background-color: #aeaeae;
}
#aside .nav > ul > li > ul {
    display: none;
}
#aside .nav > ul > li > ul > li > a {
    display: block;
    padding: 10px 40px;
    text-align: center;
    background-color: #7aeb84;
}
#aside .nav > ul > li > ul > li > a:hover {
    background-color: #63b86a;
}
#aside .nav > p {
    text-align: center;
    margin-top: 20px;
}
#aside .nav > p a {
    color: #fff;
}
#aside .nav > p a::after {
    content: '|';
    margin-left: 10px;
}
#aside .nav > p a:last-child::after {
    content: '';
    margin-left: 0;
}
#aside .nav > p a:hover {
    text-decoration: underline;
}

/* main */
#main {
    width: calc(100% - 200px);
    height: 850px;
}

/* slider */
#main .slider {
    width: 100%;
    height: 400px;
    background-color: #b9b9b9;
}
#main .slider .sliderWrap {
    position: relative;
}
#main .slider .sliderWrap .slider {
    position: absolute;
    background-size: cover;
    background-position: center;
}
#main .slider .sliderWrap .slider.s1 {
    background-image: url(../images/slider01.png);
}
#main .slider .sliderWrap .slider.s2 {
    background-image: url(../images/slider02.png);
}
#main .slider .sliderWrap .slider.s3 {
    background-image: url(../images/slider03.png);
}
#main .slider .sliderWrap .slider .text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#main .slider .sliderWrap .slider .text h2 {
    font-size: 30px;
    color: #fff;
}

/* banner */
#main .banner {
    width: 100%;
    height: 200px;
    background-color: #63b86a;
    overflow: hidden;
}
#main .banner a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main .banner .photo {
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin-right: 120px;
}
#main .banner .text {
    margin-right: 120px;
}
#main .banner .text h3 {
    font-size: 30px;
}
#main .banner .text ul {
    margin-top: 20px;
}
#main .banner .text ul li {
    margin-top: 5px;
    font-size: 18px;
}
#main .banner .arrow {
    width: 80px;
}

/* info */
#main .info {
    width: 100%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
#main .info .infoWrap {
    background-color: #000;
}
#main .info .info-menu {
    display: flex;
}
#main .info .info-menu a {
    font-size: 24px;
    background-color: #82c788;
    padding: 10px 40px;
    height: 100%;
}
#main .info .info-menu a.active {
    background-color: #2aae35;
}
#main .info .info-cont .notice {
    background-color: #2aae35;
    padding: 14px 50px;
    box-sizing: border-box;
    display: none;
}
#main .info .info-cont .notice li {
    display: flex;
}
#main .info .info-cont .notice li a {
    width: 70%;
    line-height: 1.8;
    font-size: 18px;
    border-bottom: 2px solid #333;
}
#main .info .info-cont .notice li a:hover {
    text-decoration: underline;
}
#main .info .info-cont .notice li span {
    width: 30%;
    line-height: 1.8;
    font-size: 18px;
    border-bottom: 2px solid #333;
    text-align: right;
}
#main .info .info-cont .gallery {
    display: none;
    padding: 24px;
    background-color: #2aae35;
}
#main .info .info-cont .gallery ul {
    display: flex;
}
#main .info .info-cont .gallery ul li {
    width: 120px;
    padding: 0 30px;
}
#main .info .info-cont .gallery ul li a {
    border: 4px solid transparent;
    display: block;
}
#main .info .info-cont .gallery ul li a:hover {
    background-color: #0a5b10;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
    background-color: #dadada;
}
#footer .footer1 {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .footer2 {
    width: calc(100% - 500px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .footer3 {
    width: 300px;
    height: 100px;
}
#footer .footer3 .sns {
    padding: 20px;
    box-sizing: border-box;
}
#footer .footer3 .sns ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer3 .sns li {
    padding: 10px;
    box-sizing: border-box;
}

/* popup */
.popup-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-color: #63b86a;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid #0a5b10;
}
.popup-view h2 {
    border-bottom: 4px solid #0a5b10;
    padding-bottom: 5px;
}
.popup-view p {
    margin-top: 20px;
    font-size: 16px;
}
.popup-close {
    position: absolute;
    padding: 10px 40px;
    background-color: #0f9c1b;
    color: #fff;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
